# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Model Files (remove if you want to upload them)
*.pth
*.pt
*.h5
*.ckpt

# Dataset Files
data/
dataset/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Google Colab
/content/
